<b>Upcoming Shows:</b>
<ul>
<% @upcoming.each do |show| %>
  <li><%= link_to "#{date_display(show)} at #{show.venue.name}", artist_show_path(show.artist, show) %></li>
<% end %>
</ul>

<b>Past Shows:</b>
<ul>
<% @past.each do |show| %>
  <li><%= link_to "#{date_display(show)} at #{show.venue.name}", artist_show_path(show.artist, show) %></li>
<% end %>
</ul>
