<h3> Shows Tonight </h3>

<br>
<%= form_tag(artists_search_path) do %>
  <%= text_field_tag :name, nil, placeholder: 'Enter Artist Name' %>
  <%= submit_tag 'Search' %>
<% end %>
<br>
<p>Show Calendar</p>
<p>- browse venues</p>
<br>
shows tonight
